body{
  margin: 0;
  padding: 0 20px;
}

nav {
  height: 80px;
  width: 100%;
}

.navigation {
  width: 600px;
  float: right;
  height: 80px;
}

.nav-items {
  text-align: right;
  
}

.nav-items li {
  float: right;
  list-style-type: none;
  line-height: 80px;
}

.nav-items a {
  text-decoration: none;
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
}

a, a:visited, a:active {
  color: black;
}



.search-box {
  width: 200px;
  margin-top: 26px;
  margin-left: 50px;
  border-radius: 5px;
  border: 1px solid gray;
  position: relative;
  padding-left: 5px;
  z-index: 10000;
}

#filtersubmit {
  position: relative;
  z-index: 1;
  left: -25px;
  top: 1px;
  color: #7B7B7B;
  cursor:pointer;
  width: 0;
}

.btn-home {
  background-color: orange;
  border-radius: 5px;
  border: none;
  color: white;
  padding: 5px 10px;
}

.btn-contact {
  background-color: orange;
  border-radius: 5px;
  border: none;
  color: white;
  width: 100%;
  padding: 10px 0;
}

.fa-chevron-down{
  margin-left: 10px;
}

.home {
  margin-top: 110px;
}

.home-text {
  margin-top: 100px;
}

.home-img {
  width: 600px;
}

.about-img {
  width: 600px;
  margin-top: 130px;
}

@media only screen and (max-width: 992px) {
  .about-img {
    margin: 20px auto;
  }
}
  @media only screen and (max-width: 907px) {
    .navigation{
      float: left;
      text-align: center;
      width: 100%;
    }
    .nav-items{
      
      float: left;
    }

    .box{
      left: 10px;
      margin-bottom: 50px;
    }

}

@media only screen and (max-width: 769px) {
  .home-img {
    width: 500px;
  }

}

@media only screen and (max-width: 553px) {
  .home-img {
    width: 400px;
  }
  
}

@media only screen and (max-width: 730px) {
  .about-img {
    width: 400px;
  }

}

@media only screen and (max-width: 480px) {
  .nav-items{
    text-align: center;
    padding: 0;
    margin-top: 20px;
  }

  
  .nav-items li{
    width: 100%;
    line-height: 30px;
  }

}

@media only screen and (max-width: 300px) {
  .home-img {
    width: 200px;
  }

  .about-img {
    width: 200px;
  }
  .logo-footer {
    width: 100px;
  }
  .category-reco {
    width: 200px;
    height: 200px;
  }

  .search-box {
    margin-left: 60px;
    width: 100px;
  }


  
}

@media only screen and (max-width: 200px) {
  
}

.line {
  border-bottom: 3px solid black;
  width: 170px;
  margin-bottom: 75px;
}

.line-contact {
  text-align: center;
  border-bottom: 3px solid black;
  width: 140px;
}

.footer {
  height: 200px;
}

.social {
  width: 50px;
  float: right;
  padding-top: 35px;
}

.social:nth-child(1){
  margin-left: 20px;
}


.box{
  background:lightgray;
  position: absolute;
  top: 60px;
  right: 0;
  width:200px;
  border-radius:6px;
  margin: 0 auto 0 auto;
  padding:0 10px;
  border: none ;
  overflow: visible;
}

.box:after {
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  right: 31px;
  width: 10px;
  height: 10px;
  background: lightgray;
  border-right:1px solid #CAD5E0;
  border-bottom:1px solid #CAD5E0;
  -moz-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg);
}

.email{
  background:#fff;
  border: #ccc 1px solid;
  padding: 3px;
  width:180px;
  color:#AAAAAA;
  margin-top:10px;
  font-size:1em;
  border-radius:4px;
}

.password{
  border-radius:4px;
  background:#fff;
  border: #ccc 1px solid;
  padding: 8px;
  width:180px;
  font-size:1em;
}

.btn-form-icon{
 background-color: orange;
 color: white;
 width: 80px;
 border-radius: 5px;
 padding: 2px 5px;
 text-align: center;
 margin: 5px 0;
 float: right;
}

.btn:hover{
  background:#2CC06B; 
}

.category-reco {
  height: 300px;
}

.line-category {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
}

.info-single{
  margin-top: 10px;
}

.single-hash {
  margin-bottom: 20px;
}

.single-ing {
  list-style-type: none;
  padding: 0;
}

.success {
  text-align: center;
  color: #7CFC00;
  margin-top: 10px;
}